
<div class="jumbotron center">
<h1> About Ruby Ruby Doo </h1>
<p> You cannot imagine the effor it didn't take to create this page</p>

<p><B>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-copyright-mark"></span>
Copyright of Genius Berreen Inc. </B></p>


