
<div class="jumbotron">
<h1>HOME!! I am learning Ruby!!!</h1>
<p>Click <%= link_to "here",  "http://www.google.com" %> to see my Genius at work</p>
<p> <%= link_to "About",  about_path, class: "btn btn-primary" %> </p>
</div>
