
<div class="jumbotron center">
<h1>Ruby Ruby Doo</h1>
<p>Click <%= link_to "Here",  "http://www.google.com" %> to see my Genius at work</p>

<p> 
	<%= link_to "Login",  about_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up",  about_path, class: "btn btn-primary" %> 
</p>

</div>
